@use "sass:list";

// Vue 3 related mixins
$deep: ":deep" !default;
$slotted: ":slotted" !default;
$global: ":global" !default;

// Create 'deep' selector - Vue 3
@mixin deep( $selectors: (), $base: $deep ) {

    @if list.length( $selectors ) != 0 {

        @each $selector in $selectors {

            #{$base}(#{$selector}) {

                @content;

            }

        }

    } @else {

        #{$base}() {

            @content;

        }

    }

}

// Create 'slotted' selector - Vue 3
@mixin slotted( $selectors: (), $base: $slotted ) {

    @if list.length( $selectors ) != 0 {

        @each $selector in $selectors {

            #{$base}(#{$selector}) {

                @content;

            }

        }

    } @else {

        #{$base}() {

            @content;

        }

    }

}

// Create 'global' selector - Vue 3
@mixin global( $selectors: (), $base: $global ) {

    @if list.length( $selectors ) != 0 {

        @each $selector in $selectors {

            #{$base}(#{$selector}) {

                @content;

            }

        }

    } @else {

        #{$base}() {

            @content;

        }

    }

}
